<?xml version="1.0"?>

<launch>
  <!-- uris of the crazyflies
  cf0: "radio://0/80/1M/E7E7E7E700"
  cf1:
  cf2: "radio://0/84/1M/E7E7E7E702"
  cf3: "radio://0/84/1M/E7E7E7E703"
  cf4: "radio://0/88/1M/E7E7E7E704"
  cf5: "radio://0/88/1M/E7E7E7E705"
  -->
  <!-- arguments -->
  <arg name="server" default="192.168.2.230" />
  <arg name="port" default="3883" />
  <arg name="param_file" default="traj_param_fd220.csv" />
  <arg name="res_file" default="resfd22001" />
  <arg name="dstrategy" default="f" />
  <arg name="istrategy" default="f" />

  <arg name="uri_D1" default="radio://0/84/1M/E7E7E7E703" />
  <arg name="frame_D1" default="cf3" />
  <arg name="z_D1" default=".4"/>

  <arg name="uri_D2" default="radio://0/88/1M/E7E7E7E704" />
  <arg name="frame_D2" default="cf4" />
  <arg name="z_D2" default=".4"/>

  <arg name="uri_I" default="radio://0/80/1M/E7E7E7E700" />
  <arg name="frame_I" default="cf0" />
  <arg name="z_I" default=".45"/>

  <!-- game data recorder -->
  <node name="game_recorder" pkg="crazyflie_game" type="game_recorder.py" output="screen">
      <param name="Ds" value="$(arg frame_D1),$(arg frame_D2)"/>
      <param name="Is" value="$(arg frame_I)" />
      <param name="logger_dir" value="$(arg res_file)" />
  </node>

  <!-- start crazyflie_client -->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>
  <!-- run vrpn client -->
  <include file="$(find optitrack_broadcast)/launch/optitrack_broadcast_p300.launch">
    <arg name="server" value="$(arg server)" />
    <arg name="frames" value="$(arg frame_D1) $(arg frame_D2) $(arg frame_I)" />
  </include>

  <!-- add the intruder -->
  <include file="$(find crazyflie_game)/launch/add_player.launch">
    <!-- <arg name="id" default="I"/> --> <!--player-->
    <arg name="frame" default="$(arg frame_I)" /> <!--crazyflie id-->
    <arg name="uri" default="$(arg uri_I)" /> <!--radio uri-->
    <arg name="logger_dir" value="$(arg res_file)" />
  </include>

  <!-- add defender 1 -->
  <include file="$(find crazyflie_game)/launch/add_player.launch">
   <!--  <arg name="id" default="D1"/> --> <!--player-->
    <arg name="frame" default="$(arg frame_D1)" /> <!--crazyflie id-->
    <arg name="uri" default="$(arg uri_D1)" /> <!--radio uri-->
    <arg name="logger_dir" value="$(arg res_file)" />
  </include>

  <!-- add defender 2 -->
  <include file="$(find crazyflie_game)/launch/add_player.launch">
    <!-- <arg name="id" default="D2"/> --> <!--player-->
    <arg name="frame" default="$(arg frame_D2)" /> <!--crazyflie id-->
    <arg name="uri" default="$(arg uri_D2)" /> <!--radio uri-->
    <arg name="logger_dir" value="$(arg res_file)" />
  </include>

  <node name="RAgame" pkg="crazyflie_game" type="RAgame.py" output="screen">
      <param name="Ds" value="$(arg frame_D1),$(arg frame_D2)"/>
      <param name="Is" value="$(arg frame_I)" />
      <param name="zDs" value="$(arg z_D1),$(arg z_D2)" />
      <param name="zIs" value="$(arg z_I)" />
      <param name="dstrategy" value="$(arg dstrategy)" />
      <param name="istrategy" value="$(arg istrategy)" />
      <param name="param_file" value="$(arg param_file)" />
      <param name="logger_dir" value="$(arg res_file)" />
  </node>

</launch>