<?xml version="1.0"?>

<launch>

  <!-- arguments -->
  <arg name="world_frame" default="/world" />
  <arg name="cf_frame" default="/cf" />
  <arg name="player_id" default="D1"/>
  <arg name="velocity" default=".1"/>
  <arg name="cap_range" default=".5"/>
  <arg name="speed_ratio" default=".8"/>
  <arg name="z" default=".5"/>

    <!-- add outer-loop controller, hover only for now -->
  <node name="strategy" pkg="crazyflie_game" type="strategy.py" output="screen">
      <param name="worldFrame" value="$(arg world_frame)" />
      <param name="frame" value="$(arg cf_frame)" />
      <param name="player_id" value="$(arg player_id)"/>
      <param name='velocity' value="$(arg velocity)" />
      <param name="cap_range" value="$(arg cap_range)"/>
      <param name="speed_ratio" value="$(arg speed_ratio)"/>
      <param name="z" value="$(arg z)"/>
  </node>

</launch>